<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/JoinPage.css">
   <title>Join!</title>
   <link rel="icon" href="../assets/icon/favicon-32x32.png" type="image/x-icon">
</head>
<body>
   <div class='firstPage'>
         <button class='joinButton' onclick=pageRelocation() >
            Принять участие в обсуждении!
         </button>
   </div>








   <script src="../node_modules/socket.io-client/dist//socket.io.js"></script>
   <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> -->
   <script src="../utils/nameAvatarGenerator.js"></script>
   <script src="../socket/socket.js"></script>

   <script src='./joinPage.js'></script>

</body>
</html>
